<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="styling">
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="file" accept=".zip">
            <button type="submit">Upload</button>
        </form>
    </form>
    </div>
    
    <script>
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var file = document.getElementById('file').files[0];
    var formData = new FormData();
    formData.append('file', file);
    fetch('/upload', {
        method: 'POST',
        body: formData
    })
    .then(response => response.blob())
    .then(blob => {
        var url = window.URL.createObjectURL(blob);
        var a = document.createElement('a');
        a.href = url;
        a.download = 'trauma.zip';  // Change the name of the downloaded zip file if needed
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    });
});
    </script>
</body>
</html>